*{margin:0px; padding:0px;}
li{list-style:none;}
a{text-decoration:none;}

html, body{font-family: 'Archivo Black', sans-serif !important; }
h1, h2 , h3, h4, h5, h6, p{font-family: 'Archivo Black', sans-serif !important; font-weight:bold !important;}
#wrap>div{height:100vh;}
h1,h2, h4{margin:0px !important;}

@media (min-width:1220px) {
    #box1{width:100%; background:url(../img/ba3.png)no-repeat center; background-size:cover; position:relative; overflow:hidden; }
    
    .text1{width:40%; position:absolute; left:52%; top:45%; transform:translate(-52%,-45%);}
    .love{width:65%; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); }

    .cls-1 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:500;
        stroke-dashoffset:500;
        animation:te1 3s linear forwards;
    }

    .cls-2 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:240;
        stroke-dashoffset:240;
        animation:te2 3s linear forwards;
    }

    .cls-3 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:240;
        stroke-dashoffset:240;
        animation:te3 3s linear forwards;
    }

    .cls-4 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:180;
        stroke-dashoffset:180;
        animation:te4 3s linear forwards;
    }

    .cls-5 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:120;
        stroke-dashoffset:120;
        animation:te5 3s linear forwards;
    }

    .cls-6 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:190;
        stroke-dashoffset:190;
        animation:te6 3s linear forwards;
    }

    .cls-7 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:165;
        stroke-dashoffset:165;
        animation:te7 3s linear forwards;
    }

    .cls-8 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:195;
        stroke-dashoffset:195;
        animation:te8 3s linear forwards;
    }

    .cls-9 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:165;
        stroke-dashoffset:165;
        animation:te9 3s linear forwards;
    }

    /*project*/
    #box2{width:100%; background:white; font-family: 'Archivo Black', sans-serif;}
    #box2 h2{font-size:70px; text-shadow:0px 4px 0 black; color:#4b6387; margin:50px 0px; padding-left:10%;}
    .content{width:90%; height:80%; margin:80px auto; display:flex; justify-content:space-between;}
    .about{width:50%; margin-left:5%;}
    .me{width:50%; height:45%; background:rgb(214, 214, 214); border-radius:50%; margin-bottom:50px;}

    .text2{width:80%;}
    .text2 h3{font-size:40px; position:relative; z-index:1;}
    .text2 h3::after{width:340px; height: 20px; content:""; display:block; background:#abcadf; position:absolute; left:-1px;  top:20px; z-index:-1;}

    .line{width:43%; height:20px; background:#abcadf;}
    .lic1{position:relative;}
    .wheel{width:14%; height:280%; background:url(../img/im1.png)no-repeat center; position:absolute; left:-20%; top:-25%; animation:cr 3s linear infinite;}
    .ski{width:18%; height:280%; background:url(../img/im2.png)no-repeat center; position:absolute; left:-20%; top:-25%; animation:sk 3s linear infinite;}
    .text2 .day{margin-top:20px;}
    .text2 p{font-size:20px; margin-top:20px;}
    .text2 li{margin-right:2%;}
    .text2 li:last-child{margin-right:0px;}
    .text3{width:50%;}
    .text3 li:nth-of-type(2){margin-bottom:50px;}
    .text3 h3{font-size:30px; margin:10px 0px; position:relative; z-index:2;}
    .text3 h3::after{width:150px; height:20px; content:""; display:block; background:#abcadf; position:absolute; left:-1px; top:20px; z-index:-1;}
    .text3 p{font-size:20px;}

    .bar1{width:100%; height:25px; background:rgb(218, 218, 218);}
    .bar2{width:0%; height:100%; background:#4b6387;}
    .bar3{width:0%; height:100%; background:#4b6387;}
    .bar4{width:0%; height:100%; background:#4b6387;}
    .bar5{width:0%; height:100%; background:#4b6387;}

    #box3{width:100%; height:100vh; position:relative; overflow-x:hidden; font-family: 'Archivo Black', sans-serif;}
    .main1{width:100%; height:100%; position:relative;}
    .main1 li{width:100%; height:100%; padding:50px 2%; box-sizing:border-box; overflow-y:hidden; position:absolute;
    left:0px; top:0px; display:none;}
    .main1 li:nth-of-type(1){ background:#abcadf; display:block;}
    .main1 li:nth-of-type(2){ background:#f7d7da;}
    .main1 li:nth-of-type(3){ background:#e29fa8;}

    .back2{width:100%; height:90%; background:rgba(255, 255, 255, 0.287);}
    .back2 h2{font-size:70px; margin:50px 0px; text-shadow:0px 4px 0 #abcadf;  text-align:center; color:white; margin:50px 0px}
    .ma{width:100%; display:flex; justify-content:center;}
    .ma img{width:50%; height:90%; margin-right:1%;}
    .text4{padding-top:150px;}
    .back3{height:10px; background:#abcadf; margin-right:2%;}
    .te{width:49%; height:40px; display:flex;}
    .text5 h4{font-size:20px; margin-bottom:30px; line-height:30px;}
    .text4 p{font-size:18px;}



    .navi1{width:10%; height:50px; justify-content:space-between; display:flex; position:absolute; left:50%; transform:translateX(-50%); bottom:50px;}
    .navi1 li{width:30%; height:100%; margin-right:3%; background:url(../img/love2.png)no-repeat center; opacity:0.5; cursor:pointer;}
    .navi1 li:last-child{margin-right:0px;}
    .navi1 li.on{opacity:0.5; background:url(../img/love1.png)no-repeat center; }

    .prev{width:5%; height:10%; border:1px solid white; border-radius:50%; box-sizing:border-box; background:#4b6387; line-height:108px; text-align:center; position:absolute; right:11%; bottom:50px; color:white;}
    .next{width:5%; height:10%; border:1px solid white; border-radius:50%; box-sizing:border-box; background:#4b6387; line-height:108px; text-align:center; position:absolute; right:5%; bottom:50px; color:white;}

    /*poster*/
    #box4{width:100%; background:#e5e5e5; font-family: 'Archivo Black', sans-serif; position:relative;}
    #box4 .main2 h2{font-size:70px; text-shadow:0px 4px 0 black; color:#4b6387;  padding-bottom:80px; padding-left:11%;}

    .main2{width:90%; height:80%; margin:0px auto; position:relative; padding:5% 0px ;}
    .bo{width:80%; height:90%; margin:0px auto; position:relative;}
    .bo li{width:100%; height:100%; text-align:center; position:absolute; left:0px; top:0px; display:none;}
    .bo li:first-child{display:block;}
    .bo1{ display:flex;}
    .but {
        width: 35%;
        height:10%;
        display:flex;
        position:absolute; 
        left:55%; 
        bottom:-7.5%;
    }

    .but li {
        width:100%;
        height:100%;
        line-height: 65px;
        text-align: center;
        background:#abcadf;
        color: black;
        cursor: pointer;
        border-bottom-left-radius:30px;
        border-bottom-right-radius:30px;
    }

    .but li.on {
        background:#173158;
        color: white;
    }

    .left{width:50%; height:100%;}
    .left img {width:100%; background-size:cover; background-position:center; object-fit: cover;border-top-left-radius:50px; border-bottom-left-radius:50px;}

    .right{width:50%; background:white; border-top-right-radius:30px; padding:10%; text-align:left;}


    .right h4{font-size:30px;}
    .right p{font-size:20px; margin:50px 0px;}
    .right .btn1{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn2{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn3{width:28%; height:50px; line-height:50px; border-radius:50px; border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn4{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn5{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn6{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .bt1:hover{background:#abcadf;}

    /*popup*/
    .popup1{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup2{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup3{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup4{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup5{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup6{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup-wrap{width:100%; height:100vh;position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
    .popup-wrap img{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)}
    .close-btn{position:absolute; right:20px; top:0px; cursor:pointer; font-size:40px;}


    #box5{width:100%; background:url(../img/ba2.png)no-repeat center/cover;background-size:cover; position:relative; overflow-y:hidden;}
    #box5>h2{font-size:70px; text-align:center; text-shadow:0px 4px 0px black; color:#4b6387; padding-top:50px;}
    .back5{width:70%; height:80%; margin:100px auto; text-align:center;}
    .text6{width:100%;}
    .text6 h3{font-size:30px; color:black; margin-bottom:50px;}
    .text6 p{font-size:55px; color:black; margin-bottom:10px;}


    #navi{position:fixed; left:50px; top:50%; transform:translateY(-50%); z-index:2; font-size:18px;}
    #navi li{width:150px; height:47px; margin-bottom:10px; cursor:pointer; color:#173158}
    #navi li:last-child{margin-bottom:0px;}
    #navi li.on{width:150px; height:47px; color:#abcadf;}
}


@media (max-width:1219px) and (min-width:768px) {
    #box1{width:100%; background:url(../img/ba3.png)no-repeat center; background-size:cover; position:relative; overflow:hidden; }

    .text1{width:40%; position:absolute; left:52%; top:45%; transform:translate(-52%,-45%);}
    .cr1{width:90%; height:90%; position:absolute; left:50%; top:0%; transform:translateX(-50%);}
    .cr2{width:100%; height:100%; background:url(../img/cr1.png)no-repeat center; animation:cr 3s linear infinite; background-size:cover;}

    .love{width:65%; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); }

    .cls-1 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:500;
        stroke-dashoffset:500;
        animation:te1 3s linear forwards;
    }

    .cls-2 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:240;
        stroke-dashoffset:240;
        animation:te2 3s linear forwards;
    }

    .cls-3 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:240;
        stroke-dashoffset:240;
        animation:te3 3s linear forwards;
    }

    .cls-4 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:180;
        stroke-dashoffset:180;
        animation:te4 3s linear forwards;
    }

    .cls-5 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:120;
        stroke-dashoffset:120;
        animation:te5 3s linear forwards;
    }

    .cls-6 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:190;
        stroke-dashoffset:190;
        animation:te6 3s linear forwards;
    }

    .cls-7 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:165;
        stroke-dashoffset:165;
        animation:te7 3s linear forwards;
    }

    .cls-8 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:195;
        stroke-dashoffset:195;
        animation:te8 3s linear forwards;
    }

    .cls-9 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:165;
        stroke-dashoffset:165;
        animation:te9 3s linear forwards;
    }

   /*project*/
   #box2{width:100%; background:white; font-family: 'Archivo Black', sans-serif;}
   #box2 h2{font-size:7vw; text-shadow:0px 4px 0 black; color:#4b6387; margin:50px 0px; padding-left:10%;}
   .content{width:90%; height:80%; margin:80px auto;}
   .about{width:90%; margin-left:10%; margin-bottom:15%; height:40%;}
   .me{width:60%; height:50%; background:rgb(214, 214, 214); border-radius:50%; margin-bottom:50px;}

   .text2{width:100%;}
   .text2 h3{font-size:4vw; position:relative; z-index:1;}
   .text2 h3::after{width:43%; height: 20px; content:""; display:block; background:#abcadf; position:absolute; left:-1px;  top:10px; z-index:-1;}
   .lic1{position:relative;}
   .wheel{width:60%; height:200%; background:url(../img/im3.png)no-repeat center; position:absolute; right:30%; top:-40%; animation:cr 3s linear infinite; z-index:1;}
   .ski{width:20%; height:280%; background:url(../img/im2.png)no-repeat center/cover; position:absolute; right:40%; top:-25%;animation:sk 3s linear infinite; z-index:1;}
   
   .text2 .day{margin-top:20px;}
   .text2 p{font-size:20px; margin-top:20px;}
   .text2 li{margin-right:2%;}
   .text2 li:last-child{margin-right:0px;}
   .text3{width:90%; margin-left:10%;}
   .text3 li:nth-of-type(2){margin-bottom:50px;}
   .text3 h3{font-size:3vw; margin:10px 0px; position:relative; z-index:1;}
   .text3 h3::after{width:150px; height:20px; content:""; display:block; background:#abcadf; position:absolute; left:-1px; top:20px; z-index:-1;}
   .text3 p{font-size:2vw;}
   .ga{font-size:1.5vw;}

   .bar1{width:100%; height:15px; background:rgb(218, 218, 218);}
   .bar2{width:0%; height:100%; background:#4b6387;}
   .bar3{width:0%; height:100%; background:#4b6387;}
   .bar4{width:0%; height:100%; background:#4b6387;}
   .bar5{width:0%; height:100%; background:#4b6387;}

    #box3{width:100%; height:100vh; position:relative; overflow-x:hidden; font-family: 'Archivo Black', sans-serif;}
    .main1{width:100%; height:100%; position:relative;}
    .main1 li{width:100%; height:100%; padding:50px 2%; box-sizing:border-box; overflow-y:hidden; position:absolute;
    left:0px; top:0px; display:none;}
    .main1 li:nth-of-type(1){ background:#abcadf; display:block;}
    .main1 li:nth-of-type(2){ background:#f7d7da;}
    .main1 li:nth-of-type(3){ background:#e29fa8;}
    .back2{width:100%; height:90%; background:rgba(255, 255, 255, 0.287);}
    .back2 h2{font-size:7vw; text-shadow:0px 4px 0 #abcadf;  text-align:center; color:white; margin:50px 0px;}
    .ma{width:100%; display:flex; justify-content:center;}
    .ma img{width:50%; height:90%; margin-right:1%;}
    .text4{padding-top:150px;}
    .back3{height:10px; background:#abcadf; margin-right:2%;}
    .te{width:49%; height:40px; display:flex;}
    .text5 h4{font-size:2vw; margin-bottom:30px; line-height:30px;}
    .text4 p{font-size:1.5vw;}



    .navi1{width:15%; height:50px; justify-content:space-between; display:flex; position:absolute; left:50%; transform:translateX(-50%); bottom:50px;}
    .navi1 li{width:30%; height:100%; margin-right:3%; background:url(../img/love3.png)no-repeat center; opacity:0.5; cursor:pointer;}
    .navi1 li:last-child{margin-right:0px;}
    .navi1 li.on{opacity:0.5; background:url(../img/love4.png)no-repeat center; }

    .prev{width:5%; height:10%; border:1px solid white; border-radius:50%; box-sizing:border-box; background:#4b6387; line-height:108px; text-align:center; position:absolute; right:11%; bottom:50px; color:white;}
    .next{width:5%; height:10%; border:1px solid white; border-radius:50%; box-sizing:border-box; background:#4b6387; line-height:108px; text-align:center; position:absolute; right:5%; bottom:50px; color:white;}

    /*poster*/
    #box4{width:100%; background:#e5e5e5; font-family: 'Archivo Black', sans-serif; position:relative;}
    #box4 .main2 h2{font-size:7VW; text-shadow:0px 4px 0 black; color:#4b6387; padding-bottom:80px; padding-left:11%;}

    .main2{width:90%; height:80%; margin:0px auto; position:relative; padding:5% 0px ;}
    .bo{width:80%; height:80%; margin:0px auto; position:relative;}
    .bo li{width:100%; height:100%; text-align:center; position:absolute; left:0px; top:0px; display:none;}
    .bo li:first-child{display:block;}
    .but {
        width: 15%;
        height:5%;
        position:absolute; 
        right:-5%; 
        top:40%;
    }

    .but li {
        width:100%;
        height:100%;
        line-height: 49px;
        text-align: center;
        background:#abcadf;
        color: black;
        cursor: pointer;
        border-top-right-radius:30px;
        border-bottom-right-radius:30px;
        margin-bottom:10px;
        font-size:1vw;
    }

    .but li.on {
        background:#173158;
        color: white;
    }

    .left{width:100%; height:100%;}
    .left img {width:100%; background-size:cover; background-position:center; object-fit: cover;border-top-left-radius:50px; border-top-right-radius:50px;}

    .right{width:100%; height:100%; background:white; padding:10%; text-align:left;}


    .right h4{font-size:3vw;}
    .right p{font-size:2vw; margin:50px 0px;}
    .right .btn1{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn2{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn3{width:28%; height:50px; line-height:50px; border-radius:50px; border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn4{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn5{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn6{width:28%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .bt1{font-size:1vw;}
    .right .bt1:hover{background:#abcadf;}

    /*popup*/
    .popup1{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup2{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup3{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup4{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup5{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup6{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup-wrap{width:100%; height:100vh;position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
    .popup-wrap img{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)}
    .close-btn{position:absolute; right:20px; top:0px; cursor:pointer; font-size:40px;}

    /*End*/
    #box5{width:100%; background:url(../img/ba2.png)no-repeat center/cover;background-size:cover; position:relative; overflow-y:hidden;}
    #box5>h2{font-size:7vw; text-shadow:0px 4px 0 black; color:#4b6387; text-align:center; padding-top:50px;}

    .text6{width:90%; margin-left:10%; position:absolute; top:30%;}
    .text6 h3{font-size:2.5vw; color:black; margin-bottom:50px;}
    .text6 p{font-size:5vw; color:black; margin-bottom:10px;}

    #navi{position:fixed; left:0px; top:50%; transform:translateY(-50%); z-index:2; font-size:1.8vw;}
    #navi li{width:150px; height:47px; margin-bottom:10px; cursor:pointer; color:#173158}
    #navi li:last-child{margin-bottom:0px;}
    #navi li.on{width:150px; height:47px; color:#abcadf;}
}

@media (max-width:767px) {
    /*main*/
    #box1{width:100%; background:url(../img/ba3.png)no-repeat center; background-size:cover; position:relative; overflow:hidden; }
    svg{margin-top:70px;}

    .text1{width:40%; position:absolute; left:52%; top:45%; transform:translate(-52%,-45%);}
    .love{width:90%; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); }

    .cls-1 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:500;
        stroke-dashoffset:500;
        animation:te1 3s linear forwards;
    }

    .cls-2 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:240;
        stroke-dashoffset:240;
        animation:te2 3s linear forwards;
    }

    .cls-3 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:240;
        stroke-dashoffset:240;
        animation:te3 3s linear forwards;
    }

    .cls-4 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:180;
        stroke-dashoffset:180;
        animation:te4 3s linear forwards;
    }

    .cls-5 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:120;
        stroke-dashoffset:120;
        animation:te5 3s linear forwards;
    }

    .cls-6 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:190;
        stroke-dashoffset:190;
        animation:te6 3s linear forwards;
    }

    .cls-7 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:165;
        stroke-dashoffset:165;
        animation:te7 3s linear forwards;
    }

    .cls-8 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:195;
        stroke-dashoffset:195;
        animation:te8 3s linear forwards;
    }

    .cls-9 {
        fill: none;
        stroke: #231f20;
        stroke-width: 0.5px;
        stroke-dasharray:165;
        stroke-dashoffset:165;
        animation:te9 3s linear forwards;
    }

    /*About me*/
    #box2{width:100%; background:white; font-family: 'Archivo Black', sans-serif;}
    #box2 h2{font-size:7vw; text-shadow:0px 4px 0 black; color:#4b6387; margin:50px 0px; padding-left:10%;}
    .content{width:90%; height:80%; margin:80px auto; position:relative;}
    .about{width:100%; margin:0px auto; margin-bottom:15%; height:40%;}
    .me{width:60%; height:50%; background:rgb(214, 214, 214); border-radius:50%; margin-bottom:50px;}
 
    .text2{width:100%;}
    .text2 h3{font-size:5vw; position:relative; z-index:1;}
    .text2 h3::after{width:200px; height: 20px; content:""; display:block; background:#abcadf; position:absolute; left:-1px;  top:10px; z-index:-1;}
    .lic1{position:relative;}
    .wheel{width:60%; height:280%; background:url(../img/im4.png)no-repeat center; position:absolute; right:15%; top:-30%; animation:cr 3s linear infinite; z-index:1;}
    .ski{width:30%; height:280%; background:url(../img/im2.png)no-repeat center/cover; position:absolute; right:30%; top:-25%;animation:sk 3s linear infinite; z-index:1;}
    
    .text2 .day{margin-top:20px;}
    .text2 p{font-size:2.5vw; margin-top:0px;}
    .text2 li{margin-right:2%;}
    .text2 li:last-child{margin-right:0px;}
    .text3{width:100%;}
    .text3 li:nth-of-type(2){margin-bottom:50px;}
    .text3 h3{font-size:5vw; margin:10px 0px; position:relative; z-index:1;}
    .text3 h3::after{width:150px; height:20px; content:""; display:block; background:#abcadf; position:absolute; left:-1px; top:10px; z-index:-1;}
    .text3 p{font-size:2.5vw;}
    .ga{font-size:1.5vw;}
 
    .bar1{width:100%; height:10px; background:rgb(218, 218, 218);}
    .bar2{width:0%; height:100%; background:#4b6387;}
    .bar3{width:0%; height:100%; background:#4b6387;}
    .bar4{width:0%; height:100%; background:#4b6387;}
    .bar5{width:0%; height:100%; background:#4b6387;}

    /*Project*/
    #box3{width:100%; height:100vh; position:relative; overflow-x:hidden; font-family: 'Archivo Black', sans-serif;}
    .main1{width:100%; height:100%; position:relative;}
    .main1 li{width:100%; height:100%; padding:50px 2%; box-sizing:border-box; overflow-y:hidden; position:absolute;
    left:0px; top:0px; display:none;}
    .main1 li:nth-of-type(1){ background:#abcadf; display:block;}
    .main1 li:nth-of-type(2){ background:#f7d7da;}
    .main1 li:nth-of-type(3){ background:#e29fa8;}
    .back2{width:100%; height:90%; background:rgba(255, 255, 255, 0.287);}
    .back2 h2{font-size:7vw; text-shadow:0px 4px 0 #abcadf;  text-align:center; color:white; margin:50px 0px;}
    .ma{width:100%; margin-top:150px;}
    .ma img{width:100%; height:90%; margin-right:1%;}
    .back3{height:10px; background:#abcadf; margin-right:2%;}
    .te{width:49%; height:40px; display:flex;}
    .text5 h4{font-size:2vw; margin-bottom:30px; line-height:30px;}
    .text4 p{font-size:1.5vw;}

    .navi1{display:none;}
    .prev{width:10%; height:5%; border:1px solid white; border-radius:50%; box-sizing:border-box; background:#4b6387; line-height:54px; text-align:center; position:absolute; right:16%; bottom:50px; color:white;}
    .next{width:10%; height:5%; border:1px solid white; border-radius:50%; box-sizing:border-box; background:#4b6387; line-height:54px; text-align:center; position:absolute; right:5%; bottom:50px; color:white;}
    
    .bu{width:60%; height:20%; display:flex; position:absolute; right:2.5%; bottom:10px; line-height:73px; text-align:center;}
    .bu li{width:15%; height:30%; border:1px solid white; border-radius:50%; box-sizing:border-box; background:#4b6387; margin-right:2%;}
    .bu li a{width:100%; height:100%; border-radius:50%; display:block; color:white;}
    .bu li:last-child{margin-right:0px;}

    /*Poster*/
    #box4{width:100%; background:#e5e5e5; font-family: 'Archivo Black', sans-serif; position:relative;}
    #box4 .main2 h2{font-size:7VW; text-shadow:0px 4px 0 black; color:#4b6387; padding-bottom:80px; padding-left:11%;}

    .main2{width:90%; height:80%; margin:0px auto; position:relative; padding:5% 0px ;}
    .bo{width:80%; height:90%; margin:0px auto; position:relative;}
    .bo li{width:100%; height:100%; text-align:center; position:absolute; left:0px; top:0px; display:none;}
    .bo li:first-child{display:block;}
    .but {
        width: 89%;
        height:5%;
        position:absolute;
        display:flex; 
        left:10%;
        bottom:50%;
        transform:translateY(-50%);
    }

    .but li {
        width:15%;
        height:100%;
        line-height: 30px;
        text-align: center;
        background:#abcadf;
        color: black;
        cursor: pointer;
        border-bottom-left-radius:30px;
        border-bottom-right-radius:30px;
        font-size:1vw;
    }

    .but li.on {
        background:#173158;
        color: white;
    }

    .left{width:100%; height:100%;}
    .left img {width:100%; background-size:cover; background-position:center; object-fit: cover;border-top-left-radius:50px; border-top-right-radius:50px;}

    .right{width:100%; height:100%; background:white; padding:10%; text-align:left;}


    .right h4{font-size:3vw;}
    .right p{font-size:2vw; margin:50px 0px;}
    .right .btn1{width:30%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn2{width:30%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn3{width:30%; height:50px; line-height:50px; border-radius:50px; border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn4{width:30%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn5{width:30%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .btn6{width:40%; height:50px; line-height:50px; border-radius:50px;  border:3px solid #abcadf; text-align:center; cursor:pointer;}
    .right .bt1{font-size:1vw;}
    .right .bt1:hover{background:#abcadf;}

    /*popup*/
    .popup1{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup2{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup3{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup4{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup5{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup6{width:100%; height:100%;position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:100; display:none; background:rgba(0,0,0,0.5);}
    .popup-wrap{width:50%; height:50%; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
    .popup-wrap img{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)}
    .close-btn{position:absolute; right:20px; top:0px; cursor:pointer; font-size:3vw;}

    /*End*/
    #box5{width:100%; background:url(../img/ba2.png)no-repeat center/cover;background-size:cover; position:relative; overflow-y:hidden;}
    #box5>h2{font-size:7vw; text-shadow:0px 4px 0 black; color:#4b6387;  text-align:center; margin:50px 0px;}

    .text6{width:100%; position:absolute; top:40%; text-align:center;}
    .text6 h3{font-size:2.5vw; color:black; margin-bottom:50px;}
    .text6 p{font-size:1.5vw; color:black; margin-bottom:10px;}

    #navi{display:none;}
}

@keyframes te1 {
    0%{
        stroke-dashoffset:500;
    }

    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes te2 {
    0%{
        stroke-dashoffset:240;
    }
    
    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes te3 {
    0%{
        stroke-dashoffset:240;
    }
    
    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes te4 {
    0%{
        stroke-dashoffset:180;
    }
    
    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes te5 {
    0%{
        stroke-dashoffset:120;
    }
    
    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes te6 {
    0%{
        stroke-dashoffset:190;
    }
    
    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes te7 {
    0%{
        stroke-dashoffset:165;
    }
    
    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes te8 {
    0%{
        stroke-dashoffset:195;
    }
    
    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes te6 {
    0%{
        stroke-dashoffset:195;
    }
    
    100%{
        fill:white;
        stroke-dashoffset:0;
    }
    
}

@keyframes cr {
    100%{
        transform:rotate(360deg);
    }
    
}

@keyframes sk {
    50%{
        transform:translateY(-20%);
    }
}
